// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.app-root {
    background: rgb( 235, 240, 250);
}

.tabs-md, .tab-button-icon,
.tab-button {
    color: map-get($colors, dark) !important;
}

.tab-button[aria-selected=true],
.tabs-md .tab-button[aria-selected=true] .tab-button-icon {
    color: map-get($colors, primary) !important;
}

scroll-content {
    overflow: hidden !important;
}

ion-tabs {
    box-shadow: 0px 0px 0px transparent !important;
}

ion-content {
    z-index: 300;
}

.tabbar, .show-tabbar{
    top: 224px;
    height: 56px;
    bottom: inherit !important;
}

.cont_user {
    width: 100%;
    z-index: -1;
    display: block;
    position: relative;
    margin-bottom: -105px;
    overflow: auto !important;
    height: calc(100% - 280px);
    background: rgb( 235, 240, 250);
}